@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');


/* 초기화 */
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: gray;
}
/* .clearfix {
  overflow: auto;
} */
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width: 940px;
}

.group3 {
  background: skyblue;
}

.header{
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  padding: 0 30px 50px 30px;
}
/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 45px;
  left: 70px;
  /* z-index: 10; */
}
/* 멤버 링크 */
.member{
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  font-size: 0;
  text-align: right;
  position: relative;
  right: -10px;
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member li:nth-child(n+2)::before{
  font-family: "fontello";
  content: '\f142';
}
.member a{
  padding: 8px 10px;
  display: inline-block;
}
/* 메인 메뉴 */
.menu{
  background-color: #ed8625;
  background-image: linear-gradient(to bottom, #1e5799 0%,#f7cc31 0%,#ed8625 35%,#ed8625 70%,#f7cc31 100%);
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  /* border-top: 2px solid #000; */
  box-shadow: 0 -2px 2px 0 #000;
  /* height: 45px; */
}
.menu::after{
  content: "";
  background-color: lime;
  clear: both;
  display: block;
}
.menu-item{
  float: left;
  position: relative;
}
.menu-act .btn-menu{
  color: #ff0;
}
.btn-menu{
  display: block;
  height: 45px;
  line-height: 45px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu{
  color: yellow !important;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
  background: yellow;
  position: absolute;
  display: none;
  white-space: nowrap;
}
.sub-menu li, .sub-menu1 a{
  display: inline-block;
}
.sub-menu1 a{
  padding: 10px 0;
  margin-right: 10px;
}
.menu-act .sub-menu{
  display: block;
  top: 47px;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
/* 비주얼 */
@keyframes textAni {
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        /* padding: 0; */
        /* margin: 0; */
        /* top: 0;
        left:0; */

        /* translate(x, y) */
        transform: translate(0, 0); /* top left */
    }
    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        /* padding: 75px 0 0 400px; */
        /* margin: 75px 0 0 400px; */
        /* top: 75px;
        left: 400px; */
        transform: translate(400px, 75px);
    }
    /* 
    from{}
    to{}
    */
}

@keyframes bgAni {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.visual{
  background-color: lime;
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;  */
    
    /* shorthand */
    animation: bgAni 2000ms 1000ms infinite alternate ease-in-out; /* duration, delay*/
}
.visual::before {
    /* background-color: silver;
    z-index: 10;
    background-image: url('./images/ani_flower_01.png'), url('./images/ani_flower_02.png');
    background-repeat: no-repeat;
    background-position: 0 -10px, 670px, 0; */

    /* shorthand for image, color, repeat, position */
    background:
    url('./images/ani_flower_01.png') no-repeat 0 -10px,
    url('./images/ani_flower_02.png') no-repeat 670px 0;
}
.visual::after {
    /* background-color: aqua; */
    animation-delay: 1000ms;
    background:
    url('./images/ani_flower_03.png') no-repeat 300px 0,
    url('./images/ani_flower_04.png') no-repeat 800px 15px;
}
.visual-text {
    position: absolute;
    background-color: yellow;
    animation-name: textAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-name, animation-duration REQUIRED */
    /* animation-fill-mode decides the behavior at the end of animation */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-content{
  min-height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.group1{
  flex-basis: 250px;
}
.group2{
  flex-basis: 380px;
}
.group3{
  flex-basis: 190px;
}

/* 로그인 */
.login {
  background: #ed8625 radial-gradient(circle at right top, #f7cc31, #ed8625);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #666;
  /* border-radius: 15px;
  box-shadow: 5px 5px 0 0 silver;
  width: 250px;
  position: relative;
  top: -10px; */
}

.login-heading {
  margin: 0;
  /*
  padding-left: 10px; or
  margin: 0 0 0 10px; or
  */
  text-indent: 10px;
  font-size: 1.5rem;
  color: #ff0;
}

/* <form> has default margin */
.login-form {
  background-color: white;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  border: 0;
  padding: 0 0 10px 0;
  position: relative;
  border-bottom: 1px solid #aaa;
}

.login-form label {
  display: inline-block;
  width: 4em;
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-pw {
  margin-top: 6px;
}
.sign {
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 10px;
  display: flex;
}
.sign li {
  font-size: 1.3rem;
  justify-content: space-between;
}

.sign li::before {
  color: #ed8625;
}
.btn-login {
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed8625;
  background: #f7cc31;
  padding: 0;
  color: white;
  font: inherit;
}

/* 유효성 검사 배너 */
.validation-list {
  list-style: none;
  padding-left: 0;
  margin: 25px 0 20px 0;
}

.validation-list li {
  margin: 10px 0;
}

.validation-list a {
                                                          /* x    y */
  background: url('./images/validation_icon.png') no-repeat 20px 50%, linear-gradient(#ccc, #eee) repeat 0 0;
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 8px 0 8px 45px;
}

.term {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}

.term-heading {
  margin: 0;
  font-size: 1.5rem;
}

.term-list {
  /* background: yellow; */
  margin: 10px 0 0 0;
}

.odd, .even{
  margin-top: 15px;
}
.odd::after, .even::after{
  content: "";
  clear: both;
  display: block;
}
.odd .term-list-subject, .odd .term-list-brief{
  float: right;
}
.odd .term-list-thumbnail{
  float: left;
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float: right;
}

/* ------------------------------------------------------- */
.term-list-thumbnail, .term-list-brief {
  margin: 0;
}

.term-list-subject, .term-list-brief {
  /* float: right; */
  width: 145px;
}

.term-list-subject {
  /* background: pink; */
  margin: -2px 0  5px 0;
}

/* .term-list-thumbnail {
  float: left;
} */

.term-list-thumbnail img {
  vertical-align: top;
}

.term-list-brief {
  /* background: orange; */
  line-height: 1.5;
}


/* 용어 설명 구간 draft
.term {
  border: 1px solid #666;
  border-radius: 5px;
  background: linear-gradient(to top, rgb(231, 229, 229), rgb(204, 203, 203));
}
.term-heading {
  padding: 15px 0 20px 15px;
  margin: 0;
}
.term-list {
  margin: 0;
}
.term-list dd {
  margin: 0;
}
.term-list-subject {
  display: inline-block;
  color: #296897;
}

.term-list-thumbnail {
  float:left;
}
.term-list-thumbnail img {
  margin: 0 15px 0 15px;
}
.term-list-brief {
  padding: 10px 15px 10px 0;
  line-height: 20px;
}
*/

/* temp
.validation-list {
  padding: 0;
}

.validation-list>li::before {
  content: url('../css/images/validation_icon.png');
  padding-right: 5px;
}

.validation-list li {
  background: silver;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  list-style: none;
  border-radius: 15px;
}

.validation-list a {
  position: relative;
  padding: 5px 30px 5px 0;
}
*/
/* temp
.login-heading {
  color: yellow;
  padding: 15px 0 0 20px;
}

.login-form fieldset {
  position: relative;
  background-color: white;
  border: none;
}

.user-email>input {
  float: right;
  
}

.user-email, .user-pw {
  display: inline-block;
}

#user-email, #user-pw {
  width: 100px;
}

.btn-login {
  float: right;
} */

.search-form {
  background: linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  /* border-width: 1px 1px 0 1px;
  border-style: solid solid none solid;
  border-color: #aaa #aaa transparent #aaa; */
}

.search-form fieldset{
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  border: 0;
  margin: 0;
  padding: 0;
}

label[for="search"], input[type="search"], .btn-search {
  /* vertical-align inherits its property to its child */
  vertical-align: middle;
}

input[type="search"] {
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  width: 200px;
  border-radius: 3px;
  margin: 0 2px;
}

.btn-search {
  background: #121212;
  color: #fff;
  font: inherit;
  font-size: 1.3rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  height: 22px;
}


/* 공지사항 

.notice {
  background: yellow;
}

.pds {
  background: silver;
}

.notice-heading {
  background: pink
}

.notice-list li{
  background: lime;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin : 0;
}

.notice-list>li>a {
  width: 280px;
  background: orange;
}

time {
  background: skyblue;
}

.notice-more {
  position: absolute;
  top: 0;
  right: 0;
}

.notice-list {
  list-style: none;
  padding-left: 0;
}
.pds {
  position: absolute;
  top: 0;
  left: 75px;
}

.pds-heading {
  margin: 0;
}
*/

/* 공지사항 -revised */
.board {
  /* background: yellow; */
  position: relative;
}
.board ul, .board .more {
  display: none;
}
.tab-act ul, .tab-act .more {
  display: block !important;
}
.notice-heading, .pds-heading {  
  margin: 0;
  font-weight: 400;
  font-size: 1em;
  /* background: skyblue; */
  position: absolute;
  top: 0;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 73px;
}
.tab {
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 5px 10px;
  color: #666;
}
.tab-act .tab {
  color: #ed8625;
  border-color: #ed8625 #ed8625 #fff #ed8625;
  background: #fff;
}
.board ul {
  /* background: pink; */
  margin: 20px 0;
  padding: 45px 0 0 0;
  list-style: none;
}
.board li {
  /* background: lime; */
  margin: 8px 0;
  display: flex;
  /* justify-content: space-between; */
}
.board li a {
  /* background: silver; */
  /* width: 280px; */

  /* pair with margin-left auto below*/
  /* width: 100%; */

  width: 270px;
  white-space: nowrap; /* only works with single line */
  overflow: hidden;
  text-overflow: ellipsis;
}
.board time {
  /* background: orange; */
  /* float: right; */

  /* automatically assign space */
  margin-left: auto;
}
.board .more {
  /* background: skyblue; */
  position: absolute;
  top: 0;
  right: 0;
}
.more::before {
  color: hsla(110, 70%, 20%, 1);
}

/* ----------------------------- 새소식 (using float) ----------------------------- */
.news {
  background: yellow;
  /* 더보기 메뉴를 오른쪽 상단으로 올리기 위해 relative 지정 */
  position: relative;
}
.new-post {
  background: cyan;
  color: #ed8625;
  font-size: 1.2em;
}
/* "새소식" 이후 가상 요소를 이용하여 밑 줄 추가 */
.new-post::after {
  display: block;
  margin-top: 20px;
  content: "";
  height: 1px;
  width: 80%;
  background: linear-gradient(#ccc, #eee);
  /*
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: linear-gradient(#ccc, #eee);
  */
}
/* 뉴스 section의 가상 요소에 clearfix 설정 -> float overflow 방지 */
.post-info {
  background: lime;
}
.post-info::after {
  content:"";
  clear: both;
  display: table;
}
.post-title {
  background: skyblue;
  float: right;
  margin: 0;
  width: 250px;
}
.post-info time {
  background: chocolate;
  float: right;
  /* clear: right; */
  margin: 0;
  width: 250px;
}
/* 사진, 캡션 포함 */
.thumbnail-info {
  background: silver;
  text-align: center;
  margin: 0;
  float: left;
}
.thumbnail-info img {
  box-shadow: 5px 5px 5px grey;
}
.thumbnail-info figcaption {
  margin: 15px 0 0 0;
}
.post-info p {
  background: crimson;
  float: right;
  width: 250px;
  margin: 18px 0 0 0;
  /* clear: right; */
}
.news-more {
  background: pink;
  /* 부모 클래스인 .news의 위치에 대하여 우측 상단에 배치 */
  position: absolute;
  top: 0;
  right: 0;
}


/* 검색 양식
.search-form fieldset{
  background: linear-gradient(#ccc, #eee);
  padding: 15px 30px 15px 30px;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}

.search-form fieldset>input{
  border-radius: 5px;
}

.btn-search {
  color: white;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}
*/

.slogan{
  background-color: orange;
  padding: 15px 0;
}
.footer-bg{
  background-color: silver;
  padding: 15px 0;
}
.footer{
  background-color: yellow;
}