@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');


/* 초기화 */
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}
/* clearfix - float 이슈를 해결하기 위한 선언 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: url(./images/bg_flower.png) no-repeat 50% 0 fixed,
  #ccc linear-gradient(#ccc, #eee, #fff) repeat 0 0 fixed;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width: 940px;
}
.header{
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  padding: 0 30px 50px 30px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 45px;
  left: 70px;
  /* z-index: 10; */
}
/* 멤버 링크 */
.member{
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  font-size: 0;
  text-align: right;
  position: relative;
  right: -10px;
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member li:nth-child(n+2)::before{
  font-family: "fontello";
  content: '\f142';
}
.member a{
  padding: 8px 10px;
  display: inline-block;
}
/* 메인 메뉴 */
.menu{
  background-color: #ed8625;
  background-image: linear-gradient(to bottom, #1e5799 0%,#f7cc31 0%,#ed8625 35%,#ed8625 70%,#f7cc31 100%);
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  /* border-top: 2px solid #000; */
  box-shadow: 0 -2px 2px 0 #000;
  /* height: 45px; */
}
.menu::after{
  content: "";
  clear: both;
  display: block;
}
.menu-item{
  float: left;
  position: relative;
}
.menu-act .btn-menu{
  color: #ff0;
}
.btn-menu{
  display: block;
  height: 45px;
  line-height: 45px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu{
  color: #ff0 !important;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  display: none;
  white-space: nowrap;
}
.sub-menu li, .sub-menu1 a{
  display: inline-block;
}
.sub-menu1 a{
  padding: 10px 0;
  margin-right: 10px;
}
.menu-act .sub-menu{
  display: block;
  top: 47px;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
    /* padding: 0; */
    /* margin: 0; */
    /* top: 0;
    left: 0; */
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
    /* padding: 75px 0 0 400px; */
    /* margin: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
  }
}
@keyframes bgAni{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused; */
  animation: bgAni 2000ms infinite alternate ease-in-out;
}
.visual::before{
  /* background-color: silver;
  background-image: url('./images/ani_flower_01.png'), url('./images/ani_flower_02.png');
  background-repeat: no-repeat;
  background-position: 0 -10px, 670px 0; */
  background: url('./images/ani_flower_01.png') no-repeat 0 -10px, 
              url('./images/ani_flower_02.png') no-repeat 670px 0;
}
.visual::after{
  animation-delay: 1000ms;
  background: url('./images/ani_flower_03.png') no-repeat 300px 0, 
              url('./images/ani_flower_04.png') no-repeat 800px 15px;
}
.visual-text{
  position: absolute;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-content{
  min-height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  border-radius: 15px 15px 0 0;
}
.group1{
  /* width: 250px; */
  flex-basis: 250px;
  /* background: yellow; */
}
.group2{
  flex-basis: 380px;
}
.group3{
  flex-basis: 190px;
}
/* 로그인 */
.login{
  background: #ed8625 radial-gradient(circle at right top, #f7cc31, #ed8625);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #666;
}
.login-heading{
  margin: 0;
  text-indent: 10px;
  font-size: 1.5rem;
  color: #ff0;
}
.login-form{
  background: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  border: 0;
  padding: 0 0 10px 0;
  position: relative;
  border-bottom: 1px solid #aaa;
}
.login-form label{
  width: 4em;
  display: inline-block;
  cursor: pointer;
}
.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-pw{
  margin-top: 6px;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed8625;
  background: #f7cc31;
  padding: 0;
  color: #fff;
  border-radius: 3px;
  font: inherit;
}
.sign{
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sign li{
  font-size: 1.3rem;
}
.sign li::before{
  color: #ed8625;
}
/* 유효성 검사 배너 */
.validation-list{
  list-style: none;
  padding-left: 0;
  margin: 25px 0 20px 0;
}
.validation-list li{
  margin: 10px 0;
}
.validation-list a{
  background: url('./images/validation_icon.png') no-repeat 20px 50%,linear-gradient(#ccc, #eee) repeat 0 0;
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 8px 0 8px 45px;
}
/* 웹 관련 용어 */
.term{
  background:#ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}
.term-heading{
  margin: 0;
  font-size: 1.5rem;
}
.term-list{
  margin: 10px 0 0 0;
}
.odd, .even{
  margin-top: 15px;
}
.odd::after, .even::after{
  content: "";
  clear: both;
  display: block;
}
.odd .term-list-subject, .odd .term-list-brief{
  float: right;
}
.odd .term-list-thumbnail{
  float: left;
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float: right;
}


.term-list-thumbnail, .term-list-brief{
  margin: 0;
}
.term-list-subject, .term-list-brief{
  width: 145px;
}
.term-list-subject{
  margin: -2px 0 5px 0;
}
.term-list-thumbnail img{
  vertical-align: top;
}
.term-list-brief{
  line-height: 1.5;
}
/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
}
.search-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
label[for="search"], input[type="search"], .btn-search{
  vertical-align: middle;
}
input[type="search"]{
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  width: 200px;
  border-radius: 3px;
  margin: 0 2px;
}
.btn-search{
  background: #121212;
  color: #fff;
  font: inherit;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  height: 24px;
  font-size: 1.3rem;
}
/* 공지사항 및 자료실 */
.board{
  position: relative;
}
.board ul, .board .more{
  display: none;
}
.tab-act ul, .tab-act .more{
  display: block !important;
}
.notice-heading, .pds-heading{
  margin: 0;
  font-weight: 400;
  font-size: 1em;
  position: absolute;
  top: 0;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 73px;
}
.tab{
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 5px 10px;
  color: #666;
}
.tab-act .tab{
  color: #ed8625;
  border-color: #ed8625 #ed8625 #fff #ed8625;
  background: #fff;
}
.board ul{
  margin: 20px 0;
  padding: 45px 0 0 0;
  list-style: none;
}
.board li{
  margin: 8px 0;
  display: flex;
  /* justify-content: space-between; */
}
.board li a{
  width:270px;
  /* width: 100%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board time{
  /* width: 130px; */
  margin-left: auto;
}
.board .more{
  position: absolute;
  top: 0;
  right: 0;
}
.more::before{
  color: hsla(110,70%,20%,1);
}
/* 새소식 */
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  background: red linear-gradient(to right, #aaa, #fff);
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 1px;
}
.news-heading{
  margin: 0;
  font-size: 1.5rem;
  color: #ed8625;
}
.news-link{
  display: block;
}
.news-article{
  padding-left: 130px;
  position: relative;
  min-height: 105px;
}
.news-article-subject{
  margin: 30px 0 0 0; 
  font-size: 1.4rem;
  font-weight: 450;
}
.news-article-date{
  display: block;
  margin: 5px 0 10px;
}
.news-article-brief{
  margin: 0;
  line-height: 1.5;
}
.news-article-thumbnail{
  margin: 0;
  position: absolute;
  top: 3px;
  left: 0;
}
.news-article-thumbnail img{
  box-shadow: 0 15px 15px 0 #aaa;
}
.news-article-thumbnail figcaption{
  text-align: center;
  margin-top: 15px;
}
.news-more{
  position: absolute;
  top: 0;
  right: 0;
}
/* 신규 이벤트 및 관련 사이트 */
.gradient-box{
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
}
.point-color{
  color: #ed8625;
}
.event, .related{
  margin: 0 10px;
}
.event{
  position: relative;
}
.related{
  border-top: 1px solid #aaa;
}
.event-heading, .related-heading, .favorite-heading{
  margin: 10px 0;
  font-size: 1.5rem;
}
.event p{
  margin: 10px 0;
  line-height: 1.5;
}
.event img{
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #aaa;
}
.event em{
  font-style: normal;
}
.btn-event{
  background:pink;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-event button{
  background-color: transparent;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.btn-event button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/back_forward.png);
  background-repeat: no-repeat;
}
.btn-event-next::after{
  background-position: 100% 0;
}
.related-list{
  background: #fff;
  padding-left: 0;
  list-style: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  transition: height 1s 0s, padding 1s 1s, background 1s 2s;
}
.related-list:hover, .related-list:focus{
  height: 147px;
  padding: 10px 0;
  background: yellow;
}
.related-list li{
  height: 25px;
  padding: 2px;
  position: relative;
}
.related-list a{
  width: calc(100% - 4px);
  /* height: 100%; */
  position: absolute;
  padding: 2px 0 2px 1em;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.favorite{
  margin-top: 20px;
  padding: 0 10px;
  position: relative;
}
.favorite-list{
  padding-left: 0;
  list-style: none;
  counter-reset: 0;
}
.favorite-list li{
  counter-increment: number;
  margin: 8px 0;
  position: relative;
  /* display: flex;
  align-items: center; */
}
.favorite-list li::before{
  content: counter(number);
  color: #fff;
  font-size: 1.2rem;
  background: #999;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  /* float: left; */
}
.favorite-list a{
  display: inline-block;
  vertical-align: middle;
  /* float: left; */
}
.favorite-list em{
  background: url(./images/rank.png) no-repeat;
  /* margin-left: auto; */
  font-style: normal;
  width: 9px;
  height: 11px;
  text-indent: 10px;
  white-space: nowrap;
  overflow: hidden;
  /* float: right; */
  margin-top: -5px;
  position: absolute;
  top: 50%;
  right: 0;

}
em.stop{
  background-position: 0 50%;
}
em.down{
  background-position: 0 100%;
}
.favorite-more{
  position: absolute;
  top: 10px;
  right: 10px;
}
.favorite-more::before{
  color: hsla(110,70%,20%,1)
}
/* 슬로건 */
.slogan{
  padding: 0 100px 15px 30px;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
.slogan-heading{
  /* position: absolute;
  bottom: -25px;
  left: 30px; */
  position: relative;
  bottom: -30px;
  margin: 0;
  min-width: 110px;
  height: 83px;
  /* line-height: 83px;
  text-align: center; */
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: left; */
  /* margin-bottom: -100px; */
  margin-right: 25px;
  flex: 0 1 auto;
}
.slogan-heading::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/coffee.png) no-repeat;
}
.slogan-content{
  color: #a09784;
  line-height: 1.5;
  margin: 0;
  flex: 0 1 auto;
  /* font-size: 1.3rem; */
  /* float: right;
  width: 615px; */
}
.slogan-content q::after{
  /* quotes: "[[" "]]"; */
  content: "";
}
.slogan-content q::before{
  font-size: 3rem;
  position: relative;
  top: 10px;
}
.footer-bg{
  background:pink linear-gradient(#ccc, #eee, #fff) repeat 0 0 scroll;
  padding: 15px 0;
}
.footer{
  position: relative;
  padding: 0 100px 0 150px;
}
/* 가이드 링크 모음 */
.footer-logo {
  position: absolute;
  top: 20px;
  left: 35px;
}
.guide-list {
  color: #fff;
  background: #7b8385;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
.guide-list a {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
}
.address {
  font-style: normal;
  margin: 10px 0 5px;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
}