@charset "utf-8";
@import url('http://necolas.github.io/normalize.css/latest/normalize.css');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap'); */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 전체 선택자 */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 10px;
}

/*
a:link {
    color: inherit;
}

a:visited {
    color: #999999
}

a:hover, a:focus {
    color: red;

}
*/
body {
    margin: 0;
    color: #000000; /*RR GG BB*/
    font-size: 1.4rem;
    line-height: 1.15;
    font-family:'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
}

/* select class = . */
.header, .visual, .main-content, .slogan, .footer {
    margin: 0 auto;
    width: 940px;
}

.header {
    box-sizing: border-box; /* 박스 안에 포함 */
    background-color: pink;
    /*
    padding: 0 50px; (위,아래)  (좌, 우)
    border: 10px solid black;
    what is vh? viewport height
    */
    position: relative;
    padding: 10px 30px 50px 30px;
}
/* 로고 */
.logo {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 70px;
}

.member {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    background-color: yellow;
    /* display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
    align-items: center; */
    font-size: 0;
    text-align: right;
}

.member li {
    display: inline-block;
    background-color: aqua;
    font-size: 1.4rem;
    text-transform: uppercase;
}


.visual {
    background-color: lime;
    height: 120px;
}
.main-content {
    min-height: 400px;
    background-color: skyblue;
    display: flex;
    flex-direction: row; /* default */
    justify-content: space-between;
    padding: 30px;
}

.group {
    background-color: yellow;
}
.group1{
    flex-basis: 250px;
    /*
    flex-grow: 2;
    flex-shrink: 1;
    flex: 50px 2 1; basis grow shrink*/
}
.group2{
    flex-basis: 380px;
}
.group3{
    flex-basis: 190px;
}

.slogan {
    background-color: orange;
    padding: 15px 0;
}
.footer-bg {
    background-color: silver;
    padding: 15px 0;
}
.footer {
    background-color: yellow;
}